/**
 * ====================================
 * Contact Widget
 * ====================================
 *
 * Colors
 * ``````
 * border blue: #6081BB
 * background blue: #E6ECF8
 * background gray: #EFEFEF
 * border gray: #777
 */

.contactWidget {
  width: 360px;
  border: 1px solid #6081BB;
  border-radius: 5px;
}

.contactWidget header {
  background: #E6ECF8;
  border-radius: 5px 5px 0 0;
}

.contactWidget header h1 {
  margin: 0;
  padding: 10px;
}

.contactWidget footer {
  background: #E6ECF8;
  background: -moz-linear-gradient(transparent, #E6ECF8);
  background: -o-linear-gradient(transparent, #E6ECF8);
  background: -webkit-linear-gradient(transparent, #E6ECF8);
  background: linear-gradient(transparent, #E6ECF8);
  border-radius: 0 0 5px 5px;
  padding: 20px 10px;
  text-align: right;
}

.contactWidget .column {
  display: inline-block;
}

.contactWidget .facet {
  font-size: 1em;
  display: block;
  padding: 2px 10px;
  margin: 0;
}

.contactWidget .left.column {
  width: 110px;
  float: left;
}

.contactWidget .right.column {
  position: relative;
  width: 250px;
}

.contactWidget .contactList {
  list-style: none;
  padding: 0;
}

.contactWidget .contactList .contact {
  display: block;
  position: relative;
  line-height: 20px;
  clear: both;
  border-top: 1px solid transparent;
  height: 25px;
}

.contactWidget .contactList .contact:hover {
  background: #EFEFEF;
  border-color: #777;
}

.contactWidget .contactList .contact .avatar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  display: none;
}

.contactWidget .contactList .contact:hover .avatar {
  display: block;
}

.contactWidget .contactList .contact:hover .left.column {
  border-bottom: 1px solid #777;
}

.contactWidget .contactList .contact:hover .right.column {
  border-color: #777;
  background: #EFEFEF;
  z-index: 1;
}

.contactWidget .contactList .contact .right.column .details .secondary {
  height: 1em;
  overflow: hidden;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  height: 0;
}

.contactWidget .contactList .contact:hover .right.column .details .secondary {
  position: relative;
  overflow: visible;
  height: 100%;
  display: block;
  border-color: #777;
  position: relative;
  height: 100%;
}
